/* The navbar (background) */
.artfight-nav {
  background-image: url(https://raw.githubusercontent.com/SpoopySpy/ArtFight-Profile/refs/heads/main/Images/new-Navbar-bg.png) !important;
  height: 80px;
}

/* Dropdown links (color with !important, opacity) */
.artfight-nav .nav-link {
  background-image: url(https://raw.githubusercontent.com/SpoopySpy/ArtFight-Profile/refs/heads/main/Images/button-bg.png);
  background-size: 100% 100%;
  color: dimgrey !important;
}

/* Dropdown links HOVER (color with !important) */
.artfight-nav .nav-link:hover {
  background-image: url(https://raw.githubusercontent.com/SpoopySpy/ArtFight-Profile/refs/heads/main/Images/button-bg.png);
  width: 110%;
  height: 110%;
  background-size: 100% 100%;
  color: dimgrey !important;
}

/* Dropdown links ACTIVE (color with !important) */
.artfight-nav .nav-link:active {
  background-image: url(https://raw.githubusercontent.com/SpoopySpy/ArtFight-Profile/refs/heads/main/Images/button-bg.png);
  width: 90%;
  height: 90%;
  background-size: 100% 100%;
  color: black !important;
}

/* ART FIGHT brand name text (color with !important) */
.navbar-brand {
  background-image: url(https://raw.githubusercontent.com/SpoopySpy/ArtFight-Profile/refs/heads/main/Images/button-bg.png);
  height: 50px;
  width: 179px;
  background-size: 100% 100%;
  color: dimgrey !important;
}

/* User's name (color with !important) */
.username-navbar span {
  color: black;
}

/* Site logo */
.navbar-brand img {
}

/* Pictoral icons */
.nav-link .fas,
.nav-link .fab {
}

/* User's profile picture */
.avatar-dropdown .navbar-icon {
}

/* Dropdown link wrapper + margin */
.artfight-nav .nav-item {
}

/* Banner (background) */
.banner {
  background-image: url(https://raw.githubusercontent.com/SpoopySpy/ArtFight-Profile/refs/heads/main/Images/Banner.png) !important;
}

/* Container around the banner with the bottom margin */
.banner-container {
}
